<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestor_de_academias.My.MySettings.gestio_empresesConnectionString"
            connectionString="Data Source=DESKTOP-LRLD5GA\SQLEXPRESS;Initial Catalog=gestio_empreses;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>